index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://yiff.io/unlinked/index"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="page" type="ind:pageType"
		xmlns:ind="http://yiff.io/unlinked/index"/>
	<xs:complexType name="pageType">
		<xs:sequence>
			<xs:element type="ind:sectionType" name="section" maxOccurs="unbounded" minOccurs="0"
				xmlns:ind="http://yiff.io/unlinked/index"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sectionType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
